@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    background-color: black;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }

  /*Navbar*/
  * {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  #wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  /*- Navigation -*/
  #nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #00ADAD;
    box-shadow: inset -0px 0px 20px 0px #00000085;
  }
  
  .navitem {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    cursor: pointer;
  }
  
  .navitem:hover {
    background-color: #005B60;
    animation: fadeEffect 0.5s;
  }
  
  .material-icons {
    text-shadow: 0px -1px 0px rgb(59, 59, 59), 1px 1px 1px #000000a1;
    color: white;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    font-size: 30px;
  }
  
  hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    overflow: hidden;
    border: none;
    border-top: 1px solid #999;
    background-color: #eee;
    color: rgb(59, 59, 59);
    height: 1px;
    *height: 2px;
  }
  
  .favorite {
    color: #00ADAD;
    font-size: 24px;
    z-index: 2;
    position: relative;
    left: auto;
    margin-top: -15px;
  }
  
  #infobg {
    position: absolute;
    left: 7px;
    bottom: -43px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: black;
    border-style: ridge;
    border-width: 2px;
    border-color: #fff;
    z-index: 0;
    cursor: pointer;
  }
  
  /*- Content -*/
  #content-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 100px);
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  .pageitem {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    animation: fadeEffect 0.5s;
  }
  
  .active {
    background-color: black;
    animation: fadeEffect 0.5s;
  }
  
  .active > i {
    color: #5de2e2;
    text-shadow: 0px 0px 0px #fff, 1px 1px 1px #000000a1;
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /*- Model -*/
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeEffect 0.5s;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    animation: fadeEffect 0.5s;
  }
  
  #modalheader {
    height: 26px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: black;
    margin-bottom: 5px;
    color: white;
    line-height: 24px;
  }
  
  /* The Close Button */
  .close {
    color: #eeeeee;
    float: right;
    font-size: 22px;
    font-weight: bold;
    padding-right: 7px;
    text-shadow: 0px -1px 0px #fff, 1px 1px 1px #000000a1;
  }
  
  .close:hover,
  .close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
  }
/*Fin Navbar*/

/*Titulos y subtitulos*/

.title {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
}

h1 {
    font-family: 'Roboto', sans-serif;
	background-image: url(https://media.giphy.com/media/hWWeurJRRMGnVyN9Em/giphy-downsized-large.gif?cid=ecf05e47otjc68ouy571cb4x6l64rgnhjfoawucfbq6m4ygz&rid=giphy-downsized-large.gif&ct=g);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
    background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	margin: 10px 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://media.giphy.com/media/hWWeurJRRMGnVyN9Em/giphy-downsized-large.gif?cid=ecf05e47otjc68ouy571cb4x6l64rgnhjfoawucfbq6m4ygz&rid=giphy-downsized-large.gif&ct=g);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
    background-clip: text;
	text-transform: uppercase;
	font-size: 40px;
	margin: 10px 0; 
}

/*Fin Titulos y subtitulos*/

/*Contenido pagina 1*/

.link {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://media.giphy.com/media/hWWeurJRRMGnVyN9Em/giphy-downsized-large.gif?cid=ecf05e47otjc68ouy571cb4x6l64rgnhjfoawucfbq6m4ygz&rid=giphy-downsized-large.gif&ct=g);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
    background-clip: text;
	font-size: 22px;
	margin: 10px 0; 
}
